.SubHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 30px;
    margin: 0 8px 8px 8px;
    padding: 0 4px;
    background-color: #ebecf0;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d3d9de, 0 0 0 1px #e7e8ec;
    font-weight: bold;
}

a {
    text-decoration: none;
}